*
!.gitignore
!Optimization of Graph Squares/
!Optimization of Graph Squares/Notebooks/
!Optimization of Graph Squares/Notebooks/AnalysisGraphSquares.ipynb
!Optimization of Graph Squares/Notebooks/ComplementGraphSquares.ipynb
!Optimization of Graph Squares/Notebooks/DualGraphSquares.ipynb
!Optimization of Graph Squares/Notebooks/IsomorphismGraphSquares.ipynb
!Optimization of Graph Squares/Notebooks/OptimizationGraphSquares.ipynb
!Optimization of Graph Squares/references.bib
!Optimization of Graph Squares/Integer Programming of Graph Squares.tex
!Optimization of Graph Squares/Integer Programming of Graph Squares.pdf
!Poster/Poster.tex
!Poster/Poster.pdf
!Poster/melblogo.png
!Poster/uomtheme.sty